<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/style.css" rel="stylesheet" />
    <title>Home</title>
  </head>
  <body>
    <div class="main">
      <%- include('nav') %>
      <div class="content">
        <% if(currentPath === "/") { %>

        <h2>Messages</h2>
        <% for(let i =0;i< messages.length;i++){ %>
        <a href="/message/<%= messages[i].id %>">
          <div>
            <p><%= messages[i].text %></p>
            <p><%= messages[i].user %></p>
            <p><%= messages[i].added %></p>
          </div>
        </a>
        <%}%> <% }%> <% if(currentPath === "/new" || currentPath === "/create"){
        %> <%- include('createMessage') %> <%}%> <%
        if(currentPath.startsWith('/message')) { %> <%-
        include('message',{userData:userData}) %> <%}%>
      </div>
    </div>
  </body>
</html>
